<h1>My Tasks</h1>
<% @tasks.each do |task| %>
  <h2><%= link_to task.title, task_path(task) %></h2>
  <p><%= task.details %></p>
  <p><%= task.completed %></p>
  <%= link_to "Delete", destroy_task_path(task),
      method: :delete,
      data: { confirm: "Delete?" } %>
<% end %>

<%= link_to "Add a new task", tasks_new_path%>

